/* background colors */
.bg-cobalt {
  background-color: #0094ff;
}
.bg-ghostwhite {
  background-color: #f8f8ff;
}
.bg-crimson {
  background-color: #d20202;
}
.bg-dark {
  background-color: #323232;
}
/* foreground colors */
.fg-cobalt {
  color: #0094ff;
}
.fg-crimson {
  color: #d20202;
}
/* typography */
blockquote {
  display: block;
  font-size: 200%;
}
